/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Base CSS variables and resets */
:root {
    --vt-c-white: #ffffff;
    --primary: #2563EB;
    --primary-dark: #1E3A8A;
    --secondary: #17B594;
    --accent: #F94F15;
    --error: #D11919;
    --warning: #FABB15;
    --light-bg: #F9FAFB;
    --dark-bg: #0F132A;
    --txt-primary: #0F1629;
    --txt-secondary: #646F80;
    --border: #D3D5D9;
    --dark-panel: #1E243B;
    --light-panel: #FFFFFF;
    --dark-primary-txt: #F1F5F9;
    --dark-secondary-txt: #094A3B;
    --dark-primary: #394DF6;
    --dark-secondary: #20C5AE;
}